<!-- ########################################
# Víctor José Martín Ramírez                #
# Carlos González Morcillo                  #
# Código bajo licencia GPL 3                #
# => http://www.gnu.org/licenses/gpl.html   #
##########################################-->

<div class="noPhoto">
	<p align="center"><%= I18n.t("fail.no_photo") %></p>
</div>
